    <div class="todo_item">
      <% if todo_item.completed? %>
        <p style="opacity: 0.4;"><strike><%= todo_item.content %></strike></p>
      <% else %>
        <p><%= todo_item.content %></p>
      <% end %>
    </div>
    
